In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Loan_Defaults.csv')

In [2]:
df

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-1974,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-1985,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-1995,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-1973,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-1972,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112387,755547,44875,72509,67.58,74,16646,86,2591,14-05-1992,Self employed,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
112388,716994,53549,72509,78.61,74,16646,86,2593,24-04-1984,Self employed,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
112389,709352,55243,72509,81.37,74,16646,86,2593,01-01-1986,Self employed,...,0,0,0,0,0,0,0,4yrs 10mon,9yrs 5mon,0
112390,699795,55243,72509,81.37,74,16646,86,2593,01-01-1973,Self employed,...,0,0,0,0,0,1,1,0yrs 3mon,0yrs 3mon,0
112391,755244,40274,72509,60.68,74,16646,86,2593,01-01-1974,Self employed,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [4]:
df['DISBURSED_AMOUNT'].describe()

count    112392.000000
mean      56076.803269
std       13123.697627
min       11613.000000
25%       48849.000000
50%       55359.000000
75%       62147.000000
max      940690.000000
Name: DISBURSED_AMOUNT, dtype: float64

In [5]:
from statistics import mean
df['DISBURSED_AMOUNT'].mean()

56076.80326891594

In [7]:
from statistics import median
df['DISBURSED_AMOUNT'].median()

55359.0

In [8]:
from statistics import mode
df['DISBURSED_AMOUNT'].mode()

0    53303
Name: DISBURSED_AMOUNT, dtype: int64